<!DOCTYPE html>
<html lang="pl">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>13.9 Wgraj zdjęcie</title>

  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Wgraj plik</h1>
    <form class="flex" action="/upload" enctype="multipart/form-data" method="post">
      <label class="flex box file-title">
        <p>Tytuł pliku</p>
        <input type="text" name="title">
      </label>
      <label class="flex box upload">
        <p>Plik</p>
        <input type="file" name="upload" multiple="multiple">
      </label>
      <input class="flex box button" type="submit" value="Wyślij">
    </form>
</body>
</html>